body {
    margin: 0;
    height: 50vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 40em;
    background: url('../assets/img/bg.jpg') center/cover;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.id {
    color: rgb(190, 74, 74);
    text-shadow: 0px 0px 5px gray;
    font-size: 25px;  
}